.item {
    height: 119px;
    width: 427px;

    .item__title {
        font-size: 17px;
        color: rgb(109, 109, 109);
    }

    .item__price {
        width: 427px;
        height: 65px;
        font-size: 43px;
        font-weight: 900;
        margin-top: 5px;
        color: rgb(88, 88, 88);
    }
}